.intro-analytics {
    background: $background-dark-blue;
    padding-top: 50px;
}

.header {
    display: flex;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;
        margin-right: 78px;
        text-decoration: none;

        img {
            margin-right: 13px;

        }

        p {
            font-size: 20px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 600;
        }
    }
}